.choice-container {
	width: 100%;
	display: flex;
	margin-bottom: 0.5rem;
	font-size: 1.8rem;
	border: 0.1rem solid rgb(86, 165, 235, 0.25);
	background-color: #fff;
}
.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem rgba(86, 185, 235, 0.5);
	transform: translateY(-0.1rem);
	transition: transform 150ms ease-in-out;
}
.choice-prefix {
	padding: 1.5rem 2.5rem;
	background-color: var(--mainBlue);
	color: #fff;
	text-transform: uppercase;
}
.choice-text {
	padding: 1.5rem;
	width: 100%;
}
.correct {
	background-color: #28a745;
	color: #fff;
}
.incorrect {
	background-color: #dc3545;
	color: #fff;
}
.choice-container.correct > p.choice-text, .choice-container.incorrect > p.choice-text{
	color: #fff;
}

#hud {
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.hud-prefix {
	font-size: 2rem;
	text-transform: capitalize;
}
#progressBar {
	width: 20rem;
	height: 4rem;
	border: 0.3rem solid var(--mainBlue);
	margin-top: 1.5rem;
}
#progressBarFull {
	height: 3.4rem;
	background-color: var(--mainBlue);
	width: 0%;
	transition: width 0.5s ease-in-out;
}

#loader {
	border: 1.6rem solid white;
	border-radius: 50%;
	border-top: 1.5rem solid var(--mainBlue);
	width: 12rem;
	height: 12rem;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
